<div class="main">
  <div class="container">
    <!--Alert For Saving the invoices form-->
    <div *ngIf="isAlert" class="alert alert-success" role="alert">
      Invoice Saved !
    </div>
    <!--Invoices Form-->
    <form cForm [formGroup]="InvoiceForm" (ngSubmit)="onSubmit()">
      <!--<h1>{{user.name}}</h1>-->
      <div class="form-group">
        <!--Invoice No-->
        <label cLabel cLabel class="invoice" for="Invoice-No">Invoice #</label>
        <input
          cFormControl
          class="form-control"
          name="Invoice-No"
          id="Invoice-No"
          type="text"
          placeholder="Enter Invoice Number"
          formControlName="InvoiceNo"
          (change)="invoiceFormChange($event, 'InvoiceNo')"
        />
        <br />
        <!--Desciption of Invoice-->
        <label cLabel cLabel for="Invoice-Description"></label>
        <input
          cFormControl
          class="form-control"
          autocomplete="off"
          name="Invoice-Description"
          id="Invoice-Description"
          type="text"
          placeholder="Enter a breif description or summary"
          formControlName="InvoiceDescription"
          (change)="invoiceFormChange($event, 'InvoiceDescription')"
        />
        <br />
        <br />
        <!--Billing and shipping address-->
        <div class="add">
          <h3>Billing Address</h3>
          <div>
            <h4
              class="address"
              *ngIf="newCustSelected.companyName == '' ? true : false"
            >
              Select customer to add Billing Address
            </h4>

            <h4 *ngIf="showBillOnChange()">
              <button
                cButton
                cButton
                type="button"
                class="btn btn-lg btn-outline-primary"
                (click)="open1(content1)"
                href="abc"
              >
                + Add Billing Address
              </button>
            </h4>
          </div>
          <div
            *ngIf="newCustSelected.companyName == '' ? false : true"
            class="billing-addresses"
          >
            <span>{{ newCustSelected.billingAddress }}</span>
          </div>

          <br />
          <h3>Shipping Address</h3>
          <div>
            <h4
              class="address"
              *ngIf="newCustSelected.companyName == '' ? true : false"
            >
              Select customer to add Shipping Address
            </h4>

            <button
              cButton
              *ngIf="showBillOnChange1()"
              type="button"
              class="btn btn-lg btn-outline-primary"
              (click)="open(content)"
            >
              +Add Shipping Address
            </button>
          </div>
          <div
            class="billing-addresses"
            *ngIf="newCustSelected.companyName == '' ? false : true"
          >
            <span>{{ newCustSelected.shippingAddress }}</span>
          </div>
        </div>

        <div>
          <!--modal form for shipping Address-->
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">
                Shipping Address
              </h4>
              <button
                cButton
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              ></button>
            </div>
            <div class="modal-body">
              <form cForm formGroupName="ShippingForm">
                <div class="mb-3">
                  <form cForm class="row g-3">
                    <div class="col-12">
                      <label cLabel for="inputAddress" class="form-label">
                        Address
                      </label>
                      <input
                        cFormControl
                        type="text"
                        class="form-control"
                        id="inputAddress"
                        name="Add-Line1"
                        formControlName="AddLine1"
                        (change)="shipOnChange($event, 'AddLine1')"
                        placeholder="Add address line 1"
                      />
                    </div>
                    <div class="col-12">
                      <label cLabel for="inputAddress2" class="form-label">
                        Address 2
                      </label>
                      <input
                        cFormControl
                        type="text"
                        class="form-control"
                        id="inputAddress2"
                        name="AddLine"
                        formControlName="AddLine2"
                        (change)="shipOnChange($event, 'AddLine2')"
                        placeholder="Add address (optional) min 8 letters"
                      />
                    </div>
                    <div class="col-md-2">
                      <label cLabel for="Zip-Code" class="form-label"
                        >Zip</label
                      >
                      <input
                        cFormControl
                        type="text"
                        name="Zip-Code"
                        class="form-control"
                        id="Zip-Code"
                        formControlName="ZipCode"
                        (change)="shipOnChange($event, 'ZipCode')"
                      />
                    </div>
                    <div class="col-md-6">
                      <label cLabel for="City" class="form-label">City</label>
                      <input
                        cFormControl
                        type="text"
                        name="City"
                        formControlName="City"
                        class="form-control"
                        id="City"
                        (change)="shipOnChange($event, 'City')"
                      />
                    </div>
                    <div class="col-md-4">
                      <label cLabel for="inputState" class="form-label"
                        >State</label
                      >
                      <select
                        aria-label="Default select example"
                        formControlName="State"
                        class="State"
                        (change)="shipOnChange($event, 'State')"
                        name="State"
                        cSelect
                      >
                        <option>State</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </form>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                cButton
                type="button"
                class="btn btn-outline-dark"
                (click)="Address('shipping')"
                (click)="modal.close('Save click')"
              >
                Save
              </button>
            </div>
            <!--modal form for billing Address-->
          </ng-template>
          <ng-template #content1 let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">
                Billing Address
              </h4>
              <button
                cButton
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              ></button>
            </div>
            <div class="modal-body">
              <form cForm formGroup="BillingAddressForm">
                <div class="mb-3">
                  <form cForm class="row g-3">
                    <div class="col-12">
                      <label cLabel for="inputAddress" class="form-label">
                        Address
                      </label>
                      <input
                        cFormControl
                        type="text"
                        class="form-control"
                        id="inputAddress"
                        placeholder="Add address line 1"
                        formControlName="AddLine1"
                        name="Add-Line1"
                        (change)="billOnChange($event, 'AddLine1')"
                      />
                    </div>
                    <div class="col-12">
                      <label cLabel for="inputAddress2" class="form-label">
                        Address 2
                      </label>
                      <input
                        cFormControl
                        type="text"
                        class="form-control"
                        id="inputAddress2"
                        name="AddLine2"
                        formControlName="AddLine2"
                        (change)="billOnChange($event, 'AddLine2')"
                        placeholder="Add address (optional) min 8 letters"
                      />
                    </div>
                    <div class="col-md-2">
                      <label cLabel for="Zip-Code" class="form-label"
                        >Zip</label
                      >
                      <input
                        cFormControl
                        type="text"
                        name="Zip-Code"
                        formControlName="ZipCode"
                        (change)="billOnChange($event, 'ZipCode')"
                        class="form-control"
                        id="Zip-Code"
                      />
                    </div>
                    <div class="col-md-6">
                      <label cLabel for="inputCity" class="form-label"
                        >City</label
                      >
                      <input
                        cFormControl
                        type="text"
                        class="form-control"
                        id="inputCity"
                        formControlName="City"
                        (change)="billOnChange($event, 'City')"
                      />
                    </div>
                    <div class="col-md-4">
                      <label cLabel for="inputState" class="form-label"
                        >State</label
                      >
                      <select
                        aria-label="Default select example"
                        formControlName="State"
                        (change)="billOnChange($event, 'State')"
                        class="inputState"
                        cSelect
                      >
                        <option>State</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </form>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                cButton
                type="submit"
                class="btn btn-outline-dark"
                (click)="Address('billing')"
                (click)="modal.close('Save click')"
              >
                Save
              </button>
            </div>
          </ng-template>
          <!-- Ng modal finalise and issue-->
          <ng-template #Delete let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Delete Invoice</h4>
            </div>
            <div class="modal-body">
              <p>
                The Invoice will be deleted. There is no coming back!. Are you
                sure? If you have added any item or customer, you can still use
                them in other invoices.&hellip;
              </p>
            </div>
            <div class="modal-footer">
              <button
                cButton
                type="button"
                class="btn btn-light No-Delete"
                (click)="modal.dismiss('Cross click')"
              >
                No, Don't!
              </button>
              <button
                cButton
                type="submit"
                class="btn btn-primary Yes-Delete"
                (click)="modal.Save('Submit')"
              >
                Yes, Delete
              </button>
            </div>
          </ng-template>
          <!--Ng modal for Issue Invoice-->
          <ng-template #Content2 let-modal>
            <div class="modal-header">
              <h2 class="modal-title">Issue Invoice</h2>
              <button
                cButton
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              ></button>
            </div>
            <div class="modal-body">
              <div>
                <span> Send Invoice and payment instructions to... </span>
              </div>
              <div>
                <!--Data will be fetched by customer list-->
              </div>
              <div>
                A <b>payment link </b>will also be created.<br />
                The invoice can<b> not</b> be edited after issuing.
              </div>
            </div>
            <div class="modal-footer">
              <button
                cButton
                type="submit"
                value="Issued"
                class="btn btn-primary Issue"
                (click)="AddInvoice()"
                (click)="modal.close('Submit click')"
              >
                Issue Invoice
              </button>
            </div>
          </ng-template>
        </div>
        <!--Billing to-->
        <label> Billing To </label>
        <br />
        <input
          cFormControl
          autocomplete="off"
          class="Customers"
          list="Customers"
          name="Customer"
          placeholder="Select A customer"
          (change)="newCustomer($event)"
          value="{{ newCustSelected.name }}"
        />

        <datalist id="Customers">
          <option
            *ngFor="let cust of Customer; let i = index"
            value="{{ Customer[i].name }}"
          >
            {{ Customer[i].name }}
          </option>
          <option value="Add"><button>Add customer</button></option>
        </datalist>
      </div>
      <br />
      <!--Issue date and billing date-->
      <div class="form-group">
        <label cLabel for="IssueDate">Issue Date</label>
        <input
          cFormControl
          formControlName="IssueDate"
          class="Date"
          type="date"
          [value]="TodayDate"
          (change)="invoiceFormChange($event, 'IssueDate')"
        />
        <br />
        <br />
        <label cLabel for="Expiry-Date">Expiry Date</label>
        <input
          cFormControl
          class="Date"
          type="date"
          formControlName="ExpiryDate"
          placeholder="Expiry date"
          value="Expiry Date"
          (change)="invoiceFormChange($event, 'ExpiryDate')"
          min="{{ TodayDate }}"
        />
      </div>
      <br />
      <br />
      <br />
      <!-- Add line item -->
      <div class="form-group">
        <table>
          <thead>
            <th>Description</th>
            <th>Rate</th>
            <th>Qty</th>
            <th>Total</th>
          </thead>
          <tbody>
            <tr *ngFor="let v of getAllItems.value;let i = index">
              <td>
                <input value={{v.name}} list="options" (change)="AddOrNotAdd($event , i)">
                <datalist id="options">
                  <option *ngFor="let g of arrayItem">{{g.value.name}}</option>
                  <option value="add">Add</option>
                </datalist>
              </td>
              <td>{{v.qty}}</td>
              <td>{{v.rate}}</td>
              <td>{{v.total}}</td>
              <td *ngIf="getAllItems.value.length > 1"><button (click)="DeleteDocumentAndReturnFormGroup(i)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        
        <h2>The Total data is {{total}}</h2>
        <button (click)="AddNewEmptyItems()">Add Item</button>

      </div>
      <!-- Add line Item  -->
      <br />
      <br /><br />
      <!--Customer Notes -->
      <div class="form-group">
        <label cLabel for="Customer-Notes">Customer Notes</label>
        <br />
        <input
          cFormControl
          class="form-control"
          name="Customer-Notes"
          id="Customer-Notes"
          formControlName="CustomerNotes"
          (change)="invoiceFormChange($event, 'CustomerNotes')"
          type="text"
          placeholder="Add Customer Notes"
        />
        <br />
        <br />
        <!--Terms and conditions-->
        <label cLabel for="Terms-And-Conditions">Terms And Conditions</label>
        <br />
        <input
          cFormControl
          class="form-control"
          name="Terms-And-Conditions"
          id="Terms-And-Conditions"
          formControlName="TermsAndConditions"
          (change)="invoiceFormChange($event, 'TermsAndConditions')"
          type="text"
          placeholder="Add Terms And Conditions"
        />
      </div>
    </form>
  </div>
  <!--Buttons for Save Invoice,Finalise and issue ,duplicate and delete invoices.
  Duplicate invoice will be hide after fetching the details if an invoice is already exist the duplicate option will 
  be shown-->
  <div class="buttons">
    <div class="btn-group-vertical">
      <button
        cButton
        id="buttons"
        type="button"
        class="btn btn-primary mb-2 me-2"
        (click)="openSm(Content2)"
      >
        <i class="fa fa-check" aria-hidden="true"></i>Finalize and Issue
      </button>
      <br />
      <button
        cButton
        id="buttons"
        class="btn btn-light"
        type="button"
        value="Draft"
        (click)="alert(isAlert)"
      >
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Save Invoices
      </button>
      <button cButton id="buttons" class="btn btn-light" type="button">
        <i class="fa fa-clone" aria-hidden="true"></i> Duplicate Invoices
      </button>
      <button
        cButton
        id="buttons"
        (click)="DeleteInvoice(Delete)"
        class="btn btn-light"
        value="Cancelled"
        type="button"
      >
        <i class="fa fa-times" aria-hidden="true"></i> Delete Invoices
      </button>
    </div>
  </div>
</div>

<!-- FOr Add Customer -->

<!-- <c-modal id="liveDemoModal" *ngIf="visible" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Modal title</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Woohoo, you are reading this text in a modal!</c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="addCustomer()">Add Customer</button>
  </c-modal-footer>
</c-modal> -->


<ng-template #content123 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Shipping Address
    </h4>
    <button
      cButton
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
      <div class="mb-3">
      </div>
  </div>
  <div class="modal-footer">
    <button
      cButton
      type="button"
      class="btn btn-outline-dark"
      (click)="Address('shipping')"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>


<c-modal
  id="liveDemoModal"
  *ngIf="visible"
  [visible]="visible"
  (visibleChange)="handleLiveDemoChange($event)"
>
  <c-modal-header>
    <h5 cModalTitle>Add Customer</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="custForm" cForm>
      <div class="mb-3">
        <label cLabel for="companyName">Name</label>
        <input
          cFormControl
          id="companyName"
          type="text"
          formControlName="companyName"
          (change)="custOnChange($event, 'companyName')"
          placeholder="XYZ"
        />
      </div>
      <div class="mb-3">
        <label cLabel for="email">Email address</label>
        <input
          cFormControl
          id="email"
          placeholder="name@example.com"
          type="email"
          formControlName="email"
          (change)="custOnChange($event, 'email')"
        />
      </div>
      <div class="mb-3">
        <label cLabel for="contactNo">Contact No</label>
        <input
          cFormControl
          id="contactNo"
          placeholder="9876543210"
          type="text"
          formControlName="contactNo"
          (change)="custOnChange($event, 'contactNo')"
        />
      </div>
      <div class="mb-3">
        <label cLabel for="gstIn">Gst In</label>
        <input
          cFormControl
          id="gstIn"
          placeholder="15 letters required"
          type="text"
          formControlName="gstIn"
          minlength="15"
          maxlength="15"
          (change)="custOnChange($event, 'gstIn')"
        />
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">Close</button>
    <button cButton color="primary" (click)="addCustomer()">Add</button>
  </c-modal-footer>
</c-modal>


<ng-template #content4 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form [formGroup]="ItemForm">
        Product Name<input formControlName="name" >
        Product Rate<input formControlName="rate" >
        Product Qty<input formControlName="qty" >
        Product Description<input formControlName="description" >
       <button type="button" (click)="modal.close('Submit')">Submit</button>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>