// Input fields styling
input {
  width: 250px;
  height: 40px;
}

// Textare for description
textarea {
  width: 250px;
  height: 60px;
}
// Table for diplaying itmes
table {
  margin-top: 20px;
  padding: 5px;
  width: 100%;
}
// Table heading
th {
  background-color: #eaeff0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-left: none;
  border-right: none;
  padding: 10px;
  width: 220px;
  text-align: center;
  --fontFamily: Lato;
}
// Table data
td {
  background-color: whitesmoke;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 8px;
  width: 220px;
  font-size: 15px;
  text-align: center;
  --fontFamily: Lato;
}
// Buttons for add item
.btn-block {
  width: 120px;
  margin-right: 15px;
  height: 35px;
  margin-top: 10px;
  float: right;
}
// Items Disabled button
.btn-light {
  float: left;
}
// Delete button
.btn-outline-danger {
  margin-left: 20px;
}
// nav bar for Displaying items
nav {
  background-color: aliceblue;
  height: 60px;
}
// rupees symbol
.symbol {
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}
// heading for modal labels
h4 {
  font-size: medium;
  font-weight: bold;
}
// Main heading of modal
h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}
// Modal close button
.btn-close {
  border: none;
  outline: none;
}
// Delete button
.Delete {
  width: 150px;
}
// Item id button to show it as a link
.ItemId {
  border: none;
  color: blue;
}
// Adjusting add item button to the center
.modal-footer {
  display: flex;
  justify-content: center;
}
